/*#002642 azul
#840032 vermelho
#E5DADA creme
#02040F preto */

body{
    background-color: #002642;
    }
    
    header{
        margin:4%;
        display: flex;
        gap:100%;
    }
    
    .header-title{
        position: absolute;
    }
    
    h1{
        color: aliceblue;
    }
    
    span{
        color: red;
    }
    
    .audio{
        margin-top: 18px;
        margin-left: 18px;
        width: 200px;
    }
    main{
        color: #E5DADA;
        text-align: center;
        margin-top: 10%;
        width: 100%;
    }
    .main{
        display: flex;
        column-gap: 10px;
    }
    
    .button{
        padding: 12px 12px 12px 12px;
        background-color: #10344e;
        color: azure;
        border: 1px solid #1456ba;
        border-radius: 5px;
        font-weight: bold;
    }
    
    .footer-text{
        font-size: 20px;
    }
    
    /* Localização */
    
    .container-localização {
        box-sizing: border-box;
        max-width: 100%;
        width: 100%;
        padding: 1em;
        background-color: rgb(64, 93, 119);
        text-align: center;
        margin-top: 40%;
        height: 580px;
    }
    
    .titulo{
        text-align: center;
        color: rgb(241, 241, 245);
        font-size: 2em;
    }
    
    .titulo2{
        color: rgb(240, 235, 235);
    }
    .conteudo{
        margin: 1.2em 0;
    }
    
    
    .cabecalhoConteudo{
        text-align: center;
        margin: 0;
        padding: 0;
        color: #333;
    }
    
    .rodape{
        text-align: center;
        border-radius: 5%;
    }
    
    .conteudoLocalizacao{
     height: 50px;
    }
    
    .mapouter{
       text-align: center;
    }
    
    #mapa{
        height: 220px;
        width: 50%;
    }
    .botao{
        background-color: rgba(69, 71, 163, 0.3);
        box-shadow: 5px 5px 5px rgba(153, 154, 225, 0.3);
        border: none;
        color: white;
        padding: 15px 32px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width: 60%;
        border-radius: 5px;
    }
    
    .menu-produtos{
        background-color: green;
        color: white
    }